{# auth/login.html #}
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{# page header and browser tab #}
{% block page_name %}Sign In{% endblock %}

{# page body unique to login view #}
{% block app_content %}

    {# login form #}
    <div class="row"><div class="col-md-4">{{ wtf.quick_form(form) }}</div></div>
    <br>

    {# leads to registration route #}
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>

    {# trigger sending of password reset email #}
    <p><a href="{{ url_for('auth.request_password_reset') }}">Forgot password?</a></p>
{% endblock %}
