{# auth/request_password_reset.html #}
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{# page header and browser tab #}
{% block page_name %}Password Reset{% endblock %}

{# page body unique to request password reset view #}
{% block app_content %}
    Please enter your email to receive a password reset link

    {# form for entering email of user who has forgotten password #}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
{% endblock %}
