{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        Please enter your new password
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}