{# auth/unconfirmed.html #}
{% extends "base.html" %}

{# page header and browser tab #}
{% block page_name %}{{ _("Account Verification Pending") }}{% endblock %}

{# page body to the unconfirmed view #}
{% block app_content %}
    <p>{{ _("Please check your inbox or junk folder for a confirmation link.") }}</p>

    {# trigger sending of confirmation email #}
    <p>{{ _("Didn't get the email?") }} <a href="{{ url_for('redirect.resend_confirmation') }}">{{ _("Resend") }}</a>.</p>
{% endblock %}
