{# post.html #}
{% extends "base.html" %}
{% import 'bootstrap4/form.html' as wtf %}

{# page header and browser tab #}
{% block page_name %}{{ dom_text_post_title(post, revision) }}{% endblock %}

{# page body containing post information #}
{% block app_content %}

    {# post created and edited times shown in small font #}
    {{ dom_macros_post_times(post) }}

    {# post body as HTML rendered client side #}
    {{ post.body|markdown }}

    {# if revision has been passed display button to restore version #}
    {% if revision == -1 %}
        {% set display = _("Update") %}
    {% else %}
        {% set display = _("Restore") %}
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('post.update', id=post.id, revision=revision) }}" role="button">{{ display }}</a>
{% endblock %}
