{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block header %}
    <h1>{% block title %}
        Edit Post
        <form action="{{ url_for('views.delete', id=post.id) }}" method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.submit, value="Delete", onclick="return confirm('Are you sure?');" ) }}
        </form>
    {% endblock %}</h1>{% endblock %}
{% block app_content %}
    {{ pagedown.include_pagedown() }}
    {{ wtf.quick_form(form) }}
{% endblock %}
