/**
 * style.css
 * =========
 * Additional styles; app primarily styled with ``Bootstrap``
 */
/* toggle checkbox for light and dark modes */
.switch {
    position: relative;
    top: 8px;
    padding-right: 5px;
}

/* positioning of notification counter */
.icon-badge-notify {
    position: absolute;
    top: 10px;
    left: 27px;
    font-size: 8px;
    background: red;
}

/* rules for user/post table data */
.user-post-td {
    width: 150px;
}

/* rules for null pointer */
.current-version-anchor {
    pointer-events: none;
}