{# profile.html #}
{% extends "posts.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "macros.html" as macros with context %}

{# page header and browser tab #}
{% block page_name %}{{ user.username }}{% endblock %}

{# page body unique to user profiles #}
{% block app_content %}

    {# user"s avatar #}
    {{ macros.avatar(user) }}

    {# if user"s info has been added, display it #}
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}

    {# when user"s profile has last been seen #}
    {% if user.last_seen %}
        <p>Last seen on: {{ macros.timestamp(user.last_seen) }}</p>
    {% endif %}

    {# user can follow and unfollow user if they are logged in #}
    {# not visible on user's own page i.e. cannot follow self #}
    {% if current_user.is_authenticated %}

        {# display a count of followed users and following users #}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>

        {# check that post was written by user currently logged in #}
        {% if user == current_user %}

            {# if user is on their own profile page display option to edit it #}
            <p><a href="{{ url_for('views.edit_profile') }}">Edit</a></p>

            {# user can start a new task if one isn"t already running #}
            {% if not current_user.get_task_in_progress('export_posts') %}
                <p><a href="{{ url_for('views.export_posts') }}">Export posts</a></p>
            {% endif %}
        {% else %}
            {# option to send a message to other user #}
            <p><a href="{{ url_for('views.send_message', recipient=user.username) }}">Send private message</a></p>
            {% if not current_user.is_following(user) %}

                {# option to follow user if not already following #}
                <form action="{{ url_for('views.follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.submit, value="Follow") }}
                </form>
            {% else %}

                {# option to unfollow user if already following #}
                <form action="{{ url_for('views.unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.submit, value="Unfollow") }}
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
