<!DOCTYPE html>
<title>{% block title %}{% endblock %} - JSS</title>
<link rel="stylesheet"
      href="{{ static_url_for('static', filename='style.css') }}">
<link rel="stylesheet"
      href="{{ static_url_for('static', filename='darkreader.css') }}">
<nav>
    <h1><a href="{{ url_for('index') }}">JSS</a></h1>
    <ul>
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% else %}
            <li><span>{{ current_user.username }}</span></li>
            <li>
                <a href="{{ url_for('views.profile', username=current_user.username) }}">Profile</a>
            </li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
