{# base.html #}
{% extends 'bootstrap/base.html' %}
{% import "macros.html" as macros with context %}

{# override ``page_name`` to display in browser tab #}
{# browser tab will show ``<page_name> - <config["BRAND"]>`` #}
<title>{% block title %}{% block page_name %}{% endblock %} - {{ config["BRAND"] }}{% endblock %}</title>

{# source static files #}
{% block styles %}
    {{ super() }}

    {# favicon icon for bookmarks and easy reference #}
    <link rel="shortcut icon" href="{{ static_url_for("static", filename="favicon.ico") }}">

    {# apply dark-mode from darkreader: https://darkreader.org/ #}
    <link rel="stylesheet" href="{{ static_url_for('static', filename='darkreader.css') }}">
{% endblock %}

{# additional JavaScript functionality #}
{% block scripts %}
    {{ super() }}

    {# render user's timezone client side #}
    {{ moment.include_moment() }}

    {# syntax highlighting for fenced markdown code #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/python.min.js"></script>

    {# import JavaScript functions #}
    <script src="{{ static_url_for('static', filename='main.js') }}"></script>
    <!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
    <script>hljs.highlightAll()</script>
    <!--suppress JSUnresolvedVariable -->
    <script>
      {% if current_user.is_authenticated %}

        // periodically check for messages for logged in user
        $(function () {
          let since = 0
          setInterval(function () {
            $.ajax('{{ url_for('views.notifications') }}?since' + since).done(
              function (notifications) {
                for (let i = 0; i < notifications.length; i++) {
                  switch (notifications[i].name) {
                    case 'unread_message_count':
                      set_message_count(notifications[i].data)
                      break
                    case 'task_progress':
                      set_task_progress(
                        notifications[i].data.task_id,
                        notifications[i].data.progress
                      )
                      break
                  }
                  since = notifications[i].timestamp
                }
              }
            )
          }, 10000)
        })
      {% endif %}
    </script>
{% endblock %}

{# for navigating site #}
{% block navbar %}{% include "navbar.html" %}{% endblock %}

{# override ``Bootstraps`` content  #}
{# all inherited content will be sent to the ``app_content`` block #}
{% block content %}

    {# keep contents within centre of the screen #}
    <div class="container">

        {# tasks progress bar #}
        {{ macros.task_progress() }}

        {# all instruction to flash messages will be handled here #}
        {{ macros.flash_messages() }}

        {# override ``page_name`` to display in the header block #}
        {# declared in the title block #}
        <header><h1>{% block header %}{{ self.page_name() }}{% endblock %}</h1></header>

        {# variable page content to override for each template #}
        {% block app_content %}{% endblock %}

        {# override for pages displaying posts and use as base #}
        {% block posts %}{% endblock %}

        {# display footer on all pages #}
        {% block footer %}{% include "footer.html" %}{% endblock %}
    </div>
{% endblock %}
