{# base.html #}
{% extends "bootstrap/base.html" %}

{# override ``page_name`` to display in browser tab #}
{# browser tab will show ``<page_name> - <config["BRAND"]>`` #}
<title>{% block title %}{% block page_name %}{% endblock %} - {{ config["BRAND"] }}{% endblock %}</title>

{# source static files #}
{% block styles %}
    {{ super() }}

    {# favicon icon for bookmarks and easy reference #}
    <link id="favicon" rel="shortcut icon" href="{{ static_url_for("static", filename="img/favicon.ico") }}">

    {# apply dark-mode from darkreader: https://darkreader.org/ #}
    {# disabled by default (night-mode off) #}
    <!--suppress HtmlDeprecatedAttribute -->
    <link id="darkreader"
          rel="stylesheet"
          href="{{ static_url_for("static", filename="css/darkreader.css") }}"
          disabled="disabled">

    {# checkbox as toggle switch #}
    <link id="bootstrap-toggle"
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">

    {# icons lib #}
    <link id="bootstrap-icons"
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">

    {# additional style rules #}
    <link id="style" rel="stylesheet" href="{{ static_url_for('static', filename='css/style.css') }}">
{% endblock %}

{# additional JavaScript functionality #}
{% block scripts %}
    {{ super() }}

    {# render user's timezone client side #}
    {{ moment.include_moment() }}

    {# syntax highlighting for fenced markdown code #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/python.min.js"></script>

    {# import JavaScript functions #}
    <script src="{{ static_url_for("static", filename="js/main.js") }}"></script>
    <!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
    <script>hljs.highlightAll()</script>

    {# checkbox as toggle switch #}
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <!--suppress JSUnresolvedVariable -->
    <script>
      {% if current_user.is_authenticated %}

        // periodically check for messages for logged in user
        $(function () {
          let since = 0
          setInterval(function () {
            $.ajax("{{ url_for("user.notifications") }}?since" + since).done(
              function (notifications) {
                for (let i = 0; i < notifications.length; i++) {
                  switch (notifications[i].name) {
                    case "unread_message_count":
                      set_message_count(notifications[i].data)
                      break
                    case "task_progress":
                      set_task_progress(
                        notifications[i].data.task_id,
                        notifications[i].data.progress
                      )
                      break
                  }
                  since = notifications[i].timestamp
                }
              }
            )
          }, 10000)
        })
      {% endif %}
    </script>
{% endblock %}

{# for navigating site #}
{% block navbar %}{{ nav.top.render(renderer="navbar_renderer") }}{% endblock %}

{# override ``Bootstraps`` content  #}
{# all inherited content will be sent to the ``app_content`` block #}
{% block content %}

    {# keep contents within centre of the screen #}
    <div class="container">

        {# tasks progress bar #}
        {{ dom_macros_task_progress() }}

        {# all instruction to flash messages will be handled here #}
        {{ dom_macros_flash_messages() }}

        {# override ``page_name`` to display in the header block #}
        {# declared in the title block #}
        <header><h1>{% block header %}{{ self.page_name() }}{% endblock %}</h1></header>

        {# variable page content to override for each template #}
        {% block app_content %}{% endblock %}

        {# override for pages displaying posts and use as base #}
        {% block posts %}{% endblock %}

        {# display footer on all pages #}
        {% block footer %}{% include "footer.html" %}{% endblock %}
    </div>
{% endblock %}
