{# navbar.html #}
{# from ``Bootstrap`` #}
<nav class="navbar navbar-default">

    {# keep contents within centre of the screen #}
    <div class="container">

        {# navbar header section #}
        <div class="navbar-header">

            {# toggle button available on mobile devices #}
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {# brand links to index page #}
            <a class="navbar-brand" href="{{ url_for('index') }}">{{ config["BRAND"] }}</a>
        </div>

        {# collapse on mobile devices: controlled by above #}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {# links to index page #}
            <ul class="nav navbar-nav"><li><a href="{{ url_for('index') }}">Home</a></li></ul>

            {# options to the right of the screen #}
            <ul class="nav navbar-nav navbar-right">

                {# visible when user is not logged in #}
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                    {# visible when user is logged in #}
                    {% if current_user.admin %}

                        {# link to admin console if user has admin #}
                        <li><a href="/admin">Console</a></li>
                    {% endif %}

                    {# link messages / number of messages #}
                    <li>
                        <a href="{{ url_for('views.messages') }}">
                            Messages
                            {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible
                                  {% else %}hidden {% endif %};">{{ new_messages }}</span>
                        </a>
                    </li>

                    {# link to user's own profile page #}
                    <li><a href="{{ macros.profile(current_user) }}">{{ current_user.username }}</a></li>

                    {# option to logout for logged in user #}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
