{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "macros.html" as macros with context %}
{% set title = post.title %}
{% if revision is defined %}
    {% set title = "%s (v%s)"|format(title, revision + 1) %}
{% endif %}
{% block page_name %}{{ title }}{% endblock %}
{% block app_content %}
    <p class="small">
        Posted: {{ macros.timestamp(post.created) }}
        {% if post.edited %}
            (Edited: {{ macros.timestamp(post.edited) }})
        {% endif %}
    </p>
    {{ post.body|markdown }}
    {% if revision is defined %}
        <form action="{{ url_for('views.update', id=id, revision=revision) }}"
              method="get">
            {{ wtf.form_field(form.submit, value="Restore") }}
        </form>
    {% endif %}
{% endblock %}
