{# posts.html
this is the base template for pages displaying posts #}
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "macros.html" as macros with context %}

{# overrides empty post block in base template #}
{% block posts %}

    {# iterate over posts and display #}
    {% for post in posts %}

        {# table consists of poster's summary and post #}
        {# if user logged in is also the poster, edit options will be included in summary #}
        <table class="table table-hover">
            <tr>

                {# poster's profile view, to the left of posts #}
                <td style="width: 150px">

                    {# poster's avatar directs user to their profile #}
                    <a href="{{ macros.profile(post.author) }}">
                        {{ macros.avatar(post.author) }}
                    </a>
                    <div class="about">

                        {# poster's name directs user to their profile #}
                        <a href="{{ macros.profile(post.author) }}">{{ post.author.username }}</a>
                        <br>
                        {{ macros.timestamp(post.created) }}
                    </div>

                    {# logic to apply to poster if they are logged in #}
                    {% if current_user.id == post.user_id %}

                        {# logged in user can edit the post #}
                        <a class="action" href="{{ url_for('views.update', id=post.id) }}">Edit</a>
                    {% endif %}
                    <br>

                    {# logged in user can view and restore versions #}
                    {# only show dropdown if versions exist #}
                    {% if current_user.id == post.user_id and post.versions.count() > 1 %}

                        {# dropdown menu of existing versions to roll back to #}
                        <div class="dropdown">

                            {# dropdown menu of existing versions to roll back to #}
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">Versions<span class="caret"></span></a>

                            {# list of versions to choose from after toggling dropdown #}
                            <ul class="dropdown-menu" role="menu">
                                {% for version in post.versions.all() %}
                                    {% set label = "v%s"|format(loop.index) %}
                                    {% if loop.last %}
                                        {# note on current revision #}
                                        {% set label = "%s: This revision"|format(label) %}
                                    {% elif loop.index == loop.length - 1 %}
                                        {# reminder if rewinding to the previous revision #}
                                        {% set label = "%s: Previous revision"|format(label) %}
                                    {% endif %}

                                    {# each iteration of all versions #}
                                    <li>
                                        <a href="{{ url_for('views.version', id=post.id, revision=loop.index0) }}">{{ label }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </td>
                <td>

                    {# post title links to it's own dedicated page #}
                    <h1><a href="{{ url_for('views.post_page', id=post.id) }}">{{ post.title }}</a></h1>

                    {# post body as HTML rendered client side #}
                    {{ post.body| markdown }}
                </td>
            </tr>
        </table>
    {% endfor %}

    {# posts are listed in descending order: newer posts are on the left #}
    <nav aria-label="...">
        <ul class="pager">

            {# show link to newer posts on left side with arrow #}
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>

            {# show link to older posts on right side with arrow #}
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}