{% extends "posts.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_name %}{{ user.username }}{% endblock %}
{% block app_content %}
    <h1><img src="{{ user.avatar(70) }}" alt="avatar"></h1>
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}
    {% if user.last_seen %}
        <p>Last seen
            on: {{ moment(user.last_seen).format("h:mmA DD/MM/YYYY") }}</p>
    {% endif %}
    {% if current_user.is_authenticated %}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }}
            following.</p>
        {% if user == current_user %}
            <p><a href="{{ url_for('views.edit_profile') }}">Edit</a></p>
            {% if not current_user.get_task_in_progress('export_posts') %}
                <p>
                    <a href="{{ url_for('views.export_posts') }}">
                        Export posts
                    </a>
                </p>
            {% endif %}
        {% else %}
            <p>
                <a href="{{ url_for('views.send_message', recipient=user.username) }}">Send
                    private message</a></p>
            {% if not current_user.is_following(user) %}
                <form action="{{ url_for('views.follow', username=user.username) }}"
                      method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.submit, value="Follow") }}
                </form>
            {% else %}
                <form action="{{ url_for('views.unfollow', username=user.username) }}"
                      method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.submit, value="Unfollow") }}
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
